language: node_js
node_js:
- 12.20
before_script:
- node make.js build
before_deploy:
- node make.js after_build
deploy:
  provider: npm
  email: wparad@gmail.com
  api_key:
    secure: eiixyvO9S5dTeHkMOdc19t6I91D4ldxjLhqRvNjI7pETnfbb3xzKOBhbbF4/5RYgWl/vr3uPUdRv2SrS+Y5s0xX2Etf3GbabYr+549rHwldfsrzBjMvydkWglgSPX941I6hV38pLskW4AOHJgngeiBYVJ0Jd+7nJjPEve23E1jiuGO+2ZiZuo5gAcPvp60Dpaby05NhC4u0AM0wsAZnxyXPeNUB4fGLi2ihooCLdoyKyzcQDAUY5/Fv4wI1lfePoPYr3M685ncrODQ2lIyxDQ/KdqbpRIobnkp3dbzDiLaMNcd6Um6jI6Vu41qISBWcVZ24QJp5dgjwo3cMGNMp1WhszyFUYSV16MuABKlHaCNlcfdQ2/8ExSqMxfhub80u//A8Q5Zm9XosCqDRHkyMG5W8qsBgSGMKsHQRDio9M0bVBK6wyeeGNZMqIuwPTrjHD4U+BaIc+LoIdpfWyKGMbnZ7vcOQIlsmnvBvmiAZ0W0qJS3O4w1Jm5ui1rQHDoIYuCJQ3+TeidqZKFsPaCt+K2ib8JnsWozEhQyeRPkUsv4/oHov6UhvqDn/qwcD5sAaeQhxCJrijPgi1FKN3V9iBp24DPl/SNM+wI78P3YXxDnbAhKV9qkmaSr8dgxvIk6/0Udpj/wsQHG5BwNFXdT2WHp4hZXJsp2IM1Qb/797PACI=
  skip_cleanup: true
  on:
    all_branches: true
    condition: "$TRAVIS_BRANCH != master"
branches:
  only:
  - master
  - "/^release.*/"
env:
  global:
  - secure: y5wSaovry2hY7s/3pDSGgcBXwH1KiD/EL6yc6ABeQxyFY7yp1Kd8plLauo0GkU9HpqhYcZs3e1GSlM19JSNLMYOvoY7yxH1+L8QOLCCdtLijj7DS1rm62GgQjTxIlQSHAqEpoXPBRDtbOYzUJRAXBoNBLiEXyIDwOsjvOR/6sn0z426vowGuuy/s327L+jztNMRW0+RFmDKkWCO19w8wAqVXa+/bfzpA2Cf6Mlp8n2Y4mbzPIicW3O2Joht0qrKC1+GBiP8X9uYY4k8DOdQa6la5J40GzMDbuoT+EoJeOYsH7aRH8a/Ao0k/PX/bIxJYD9ayhkEE0DmwkJjQKlLKcuY5PyWIUbfqao5kPnp3dLYn8hUBvL9FZPA0cFmRXL8meQwEVfnPg/3GFnzTTCdxdOWpcG698xCbKXHjTKUwlzeDAxUku3Mu0N22rK1gPaOgryxNellRT9KKqVMTYiRSRk79AAm+LFtZaphpIlQYR9qksLswCX+Otj+N4TX/4EU7SzuI2ZyFMsL3tLW2ApohMLevSAi+v2RYBy5BS6p575VetQrZH3n/x8WJ7xnVubQsGNJOEvTYV/4+hC6zUjG65yMG8aum41V3EJKiy1Lj9ST++yvN4efyoq9zXBnUal5tMCauzWyweZ1YDuCdxyRfKH/dY6tvFCCWu/DP1GfNVsg=
